:root {
  --background-dark: #121212;
  --background-light: #fff;
  --background-dark-accent: #222;
  --background-dark-item: #282828;
  --background-light-item: rgb(230, 230, 230);
  --background-light-accent: #fafafae6;
  --border: rgba(190, 190, 190, 0.2);
  --icon-fill-dark: #fff;
  --icon-fill-light: #282828;
  --link-color: #005fcc;
  --text-color-dark: #e0e0e0;
  --text-color-light: #333;
  --box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0 0 0 1px;
  --border-radius: 1.5em;
  --box-shadow-active: 0 0 0 3px rgb(7 56 68);
  --node-dark-border: rgb(143, 255, 169);
  --node-dark: rgb(229, 251, 234);
  --node-leaf-dark: #333;
  --node-leaf-light: #e0e0e0;
  --node-light-border: rgb(8, 149, 180);
  --node-light: rgb(129, 212, 231);
  --node-path-to-branch-dark: rgb(0, 233, 120);
  --node-path-to-branch-light: rgb(0, 145, 255);
  --node-path-to-leaf-dark: #929292;
  --node-path-to-leaf-light: #2d3748;
  --node-select: rgb(255, 97, 102);

  --webkit-tag-name: rgb(73 166 210);
  --webkit-tag-attribute-key: rgb(124, 172, 248);
  --webkit-tag-attribute-value: rgb(254, 141, 89);
  --webkit-doctype: rgb(192, 192, 192);
  --webkit-resource-link: rgb(227, 186, 89);

  --monospace-font-size: 11px;
  --monospace-font-family: menlo, monospace;
  --source-code-font-size: 11px;
  --source-code-font-family: menlo, monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  min-height: 400px;
  min-width: 760px;
  height: 100%;
  width: 100%;
}

body {
  color: var(--text-color-light);
  background-color: var(--background-light);
  font-family: "Lucida Grande", sans-serif;
  margin: 1px;
  position: fixed;
  min-height: 400px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-size: 0.75rem !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

body > #root {
  height: 400px;
  width: 100%;
}

body.dark-mode {
  --icon-fill: var(--icon-fill-dark);
  --bg-0: var(--background-dark-accent);
  --bg-1: var(--background-dark);
  --bg-2: var(--background-dark-item);
  --node: var(--node-dark);
  --node-border: var(--node-dark-border);
  --leaf: var(--node-leaf-dark);
  --path-to-leaf: var(--node-path-to-leaf-dark);
  --path-to-current-leaf: var(--node-path-to-branch-dark);
  --path-to-branch: var(--node-path-to-branch-dark);
}

body:not(.dark-mode) {
  --icon-fill: var(--icon-fill-light);
  --bg-0: var(--background-light-accent);
  --bg-1: var(--background-light);
  --bg-2: var(--background-light-item);
  --node: var(--node-light);
  --node-border: var(--node-light-border);
  --leaf: var(--node-leaf-light);
  --path-to-leaf: var(--node-path-to-leaf-light);
  --path-to-current-leaf: var(--node-path-to-branch-light);
  --path-to-branch: var(--node-path-to-branch-light);
}

body.dark-mode {
  color: var(--text-color-dark);
  background-color: var(--background-dark);
}

body.dark-mode a {
  color: #05a2c2;
}

body:not(.dark-mode) a:hover {
  color: rgb(214, 0, 0);
  font-weight: 500;
}

body.dark-mode a:hover {
  color: #4db8ff;
  font-weight: 500;
}

section.inspector__container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row;
}

.inspector__container > div.inspector {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
}

div#help-icon {
  z-index: 1000;
  will-change: transform;
  transition: transform 250ms, opacity 400ms;
}

div#help-icon:hover {
  opacity: 0.9;
  transform: scale(0.95);
}

#help-dialog {
  z-index: 1000;
  box-shadow: var(--box-shadow);
  color: var(--text-color-light);
}

.loading {
  position: fixed;
  display: block;
  text-align: center;
  color: #8cc152;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Lucida Grande", sans-serif;
  padding: 0px 5px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid rgb(79, 90, 101);
}

.header__icon {
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 5px;
}

.header__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.header__heading-events {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__heading .header__icon {
  vertical-align: text-bottom;
  height: 1.375em;
  width: 1.375em;
}

.header__heading .header__name {
  display: inline-block;
  padding: 0 0.125em;
  font-size: 1.25em;
  font-weight: 700;
}

.header__description {
  color: #a0a0a0;
}

.tree-selector,
.tree-toolbar {
  display: flex;
  flex: 0 0 30px;
  padding: 5px 10px;
  align-items: center;
  border-bottom-color: var(--border);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: var(--source-code-font-size);
}
.tree-toolbar__left,
.tree-selector__left {
  flex: 0 0 30px;
  display: flex;
  min-height: 3em;
  align-items: center;
}

.tree-toolbar__left > div.tree-toolbar__label,
.tree-selector__left > div.tree-selector__label {
  flex-basis: 40%;
  border-bottom: none;
  float: left;
  padding: 2px 0.8em;
  height: 3em;
  line-height: 16px;
  white-space: nowrap;
  cursor: default;
  display: flex;
  align-items: center;
}
.tree-selector > div.tree-selector__right {
  float: left;
  margin: auto;
  overflow: hidden;
  max-width: 45vw;
}

.tree-toolbar > div.tree-toolbar__right {
  gap: 1em;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.tree-selector__right,
.tree-toolbar__right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.tree-toolbar__right > div.button {
  cursor: pointer;
}

.webkit-element {
  box-sizing: border-box;
  display: block;
  flex-grow: 2;
  flex-shrink: 0;
  margin: 0px;
  outline: none;
  overflow-wrap: normal;
  padding: 4px 0px;
  white-space: pre;
  user-select: none;
}

div.webkit-element__scrollable {
  align-items: center;
  display: flex;
  height: 3em;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-gutter: stable both-edges;
  white-space: nowrap;
}

div.webkit-element span.children-placeholder span.expand-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 14px;
  height: 10px;
  vertical-align: middle;
  gap: 1px;
  margin: 0px 2px;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 10px;
  background: var(--bg-2);
}
div.webkit-element span.children-placeholder span.expand-button > .dot {
  height: 2px;
  width: 2px;
  background: var(--icon-fill);
  border-radius: 50%;
}

.footer__container {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
  background-color: rgb(60, 68, 79);
  text-align: center;
  position: relative;
  border-top: 1px solid rgb(79, 90, 101);
}

#treeWrapper path.link__to-leaf {
  stroke: var(--path-to-leaf);
}
#treeWrapper path {
  stroke-width: 1;
  shape-rendering: crispEdges;
}

#treeWrapper path.link__to-leaf.current-paths:not(.highlight) {
  stroke-opacity: 1 !important;
}

#treeWrapper path.link__to-leaf.highlight {
  stroke: var(--path-to-current-leaf);
  stroke-opacity: 1;
  stroke-width: 1.25 !important;
}

#treeWrapper path.link__to-branch {
  stroke: var(--path-to-branch);
  stroke-width: 1.25 !important;
}

.link__selected > circle {
  stroke: var(--node-select);
  stroke-width: 0.25em;
  box-shadow: var(--box-shadow-active);
}

.link__selected > foreignObject > div > p {
  text-decoration: underline !important;
  color: var(--webkit-tag-name);
}

.tree__root,
.tree__branch,
.tree__leaf {
  cursor: pointer;
}

g > foreignObject > div > p.tree__text {
  background-color: var(--bg-1);
  white-space: nowrap;
  overflow: visible;
  text-overflow: visible;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  user-select: none;
}

.node:hover + ul li:not(:last-of-type):after {
  border-left: solid 2px #12bcdf;
}

.node:hover + ul li:last-of-type:after {
  border-left: solid 2px #12bcdf;
}

.node:hover + ul li:before {
  border-bottom: solid 2px #12bcdf;
}

.details__wrapper {
  position: relative;
  background: var(--background-light);
  margin: 0;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: rgba(190, 190, 190, 0.5);
  border-right-color: rgba(190, 190, 190, 0.5);
  border-right-style: double;
  border-right-width: 3px;
  border-top-color: rgba(190, 190, 190, 0.5);
  color: var(--icon-fill);
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  flex-shrink: 0;
  font-size: var(--source-code-font-size);
  line-height: 18px;

  overflow: hidden;
}

body.dark-mode .details__wrapper {
  background-color: #1c1b1b;
}

body.dark-mode #details .details__wrapper {
  background-color: var(--background-dark-accent);
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(-90deg);
}

.toggle:checked + .lbl-toggle + .collapsible {
  display: none;
}

.toggle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.class-tag__container {
  display: flex;
  justify-content: flex-start;
  font-size: 0.9em;
  max-height: 100px;
  font-family: monospace, ui-monospace, ui-rounded;
  height: 40px;
}

.class-tag {
  font-style: italic;
  color: rgb(102, 199, 186);
  padding: 3px 2px;
  white-space: nowrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.id-tag {
  color: rgb(248 126 131);
  font-style: italic;
}

div#details__children-count {
  display: flex;
  flex-flow: row nowrap;
  font-family: monospace, ui-monospace, ui-rounded;
  font-size: 10px;
}

#details {
  align-items: center;
  background-color: var(--background-light);
  height: calc(100% - 18px);
  display: grid;
  grid-template-columns: auto;
  min-width: 101%;

  position: relative;
}

div::-webkit-scrollbar {
  background: linear-gradient(
    90deg,
    #a8a8a8,
    #a8a8a8 1px,
    #8b8b8b 0,
    #9c9c9c
  ) !important;
  border-radius: 16px !important;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.15),
    inset -2px -2px 2px rgb(0 0 0 / 13%) !important;
  height: 0.45em !important;
  display: none;
}

#details::-webkit-scrollbar:horizontal {
  height: 0.45em;
}

#details::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

body.dark-mode #details {
  background-color: #141313;
}
main.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

#details p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#details > ul.details__list {
  height: calc(100% - 18px);
  width: 100%;
  margin: 0 auto auto;
  list-style: none;
  padding: 0;
  overflow: auto;
  font-size: 11px;
  font-family: var(--monospace-font-family);
}

.slider-rotate {
  transform: rotateX(90deg);
  transition: transform 0.2s ease-in-out 0.08s;
  position: absolute;
  right: 0;
}

.slider-rotate__shown {
  overflow: hidden;
  position: relative;
}

li.details__item:hover .slider-rotate {
  transform: rotateX(0deg);
  transition: transform 0.2s ease-in-out 0.18s;
}

.slider-rotate__selector {
  display: inline-flex;
  margin: auto 1em;
  line-height: 24px;
  border-radius: var(--border-radius);
}
.slider-rotate__button {
  padding: 0px 8px;
  font-size: 0.8em;
  color: var(--icon-fill);
  background-color: var(--bg-2);
  border: 1px solid var(--border);
}
.slider-rotate__button:hover {
  background-color: var(--bg-1);
}

#details > div.details__article {
  display: flex;
  flex-basis: 40%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 0;
  border-color: rgba(190, 190, 190, 0.5);
  flex-direction: column;
  background-color: #2a2f3a;
}
#details > div.details__header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
}

li.details__item {
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 5px 10px;
  user-select: none;
  justify-content: space-between;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
}

li.details__item:hover {
  background-color: var(--bg-2);
}

section.wrapper {
  height: 100%;
  white-space: nowrap;
  position: relative;
  width: 100%;
  float: none;
}

#details > ul.details__list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body .wrapper::-webkit-scrollbar {
  background-color: transparent;
  width: 0.45em;
}

body .wrapper::-webkit-scrollbar:horizontal {
  height: 0.45em;
}

body .wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #a8a8a8, #a8a8a8 1px, #8b8b8b 0, #9c9c9c);
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.15),
    inset -2px -2px 2px rgb(0 0 0 / 13%);
}
