:root {
  --background-dark-accent: #222222;
  --background-dark-item: #282828;
  --background-dark: #121212;
  --background-light-accent: rgba(248, 247, 247, 0.854);
  --background-light-item: rgba(230, 230, 230, 0.884);
  --background-light: #ffffff;
  --border-active-dark: rgb(232 232 232);
  --border-active-light: rgb(0 145 255);
  --border-radius: 1.5em;
  --border: rgb(190 190 190 / 20%);
  --box-shadow: rgb(0 0 0 / 5%) 0 6px 24px 0px, rgb(0 0 0 / 8%) 0 0 0 1px;
  --box-shadow-active: 0 0 0 3px rgb(7 56 68);
  --button-active: rgb(240 194 31);
  --button-active-hover: rgb(75 189 255 / 36.4%);
  --icon-fill-dark: #ffffff;
  --icon-fill-light: #484848;
  --link-color: #005fcc;
  --node-dark-border: rgb(143 255 169);
  --node-dark: rgb(229 251 234);
  --node-leaf-dark: #333333;
  --node-leaf-light: #e0e0e0;
  --node-light-border: rgb(8 149 180);
  --node-light: rgb(211 227 253/100%);
  --node-path-to-branch-dark: rgb(138 180 248);
  --node-path-to-branch-light: rgb(0 145 255);
  --node-path-to-leaf-dark: rgba(145, 145, 145, 0.78);
  --node-path-to-leaf-light: rgba(124, 124, 124, 0.75);
  --node-select-light: rgb(142 0 75);
  --node-select: rgb(0 99 155);
  --text-color-dark: #e0e0e0;
  --text-color-light: #333333;
  --webkit-doctype: rgb(192 192 192);
  --webkit-resource-link: rgb(227 186 89);
  --webkit-tag-attribute-key-dark: rgb(124 172 248);
  --webkit-tag-attribute-key-light: rgb(159 67 18);
  --webkit-tag-attribute-value-dark: rgb(254 141 89);
  --webkit-tag-attribute-value-light: rgb(8 66 160);
  --webkit-tag-name-dark: rgb(73 166 210);
  --webkit-tag-name-light: rgb(142 0 75);
  --monospace-font-size: 11px;
  --monospace-font-family: menlo, monospace;
  --source-code-font-size: 11.5px;
  --source-code-font-family: menlo, monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-style: normal;
  font-stretch: 100%;
  scroll-behavior: smooth;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-variant-alternates: normal;
  font-variant-caps: normal;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 400px;
  margin: 1px;

  /* min-width: 350px; */
  overflow: hidden;
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: var(--bg-1); */
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body .wrapper::-webkit-scrollbar {
  width: 0.45em;
  background-color: transparent;
}

body .wrapper::-webkit-scrollbar:horizontal {
  height: 0.45em;
}

body .wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #a8a8a8, #a8a8a8 1px, #8b8b8b 0, #9c9c9c);
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 15%),
    inset -2px -2px 2px rgb(0 0 0 / 13%);
}

h1 {
  font-size: 0.75rem !important;
}

ul {
  padding: 0;
  list-style-type: none;
}

body > #root {
  width: 100%;
  min-width: 100%;
  height: 400px;
}

html[data-theme="dark"] {
  --icon-fill: var(--icon-fill-dark);
  --bg-0: var(--background-dark-accent);
  --bg-1: var(--background-dark);
  --bg-2: var(--background-dark-item);
  --border-active: var(--border-active-dark);
  --node: var(--node-dark);
  --text-color: var(--text-color-dark);
  --node-border: var(--node-dark-border);
  --leaf: var(--node-leaf-dark);
  --path-to-leaf: var(--node-path-to-leaf-dark);
  --path-to-current-leaf: var(--node-path-to-branch-dark);
  --path-to-branch: var(--node-path-to-branch-dark);
  --webkit-tag-name: var(--webkit-tag-name-dark);
  --webkit-tag-attribute-key: var(--webkit-tag-attribute-key-dark);
  --webkit-tag-attribute-value: var(--webkit-tag-attribute-value-dark);
}

html:not([data-theme="dark"]) {
  --icon-fill: var(--icon-fill-light);
  --bg-0: var(--background-light-accent);
  --bg-1: var(--background-light);
  --bg-2: var(--background-light-item);
  --border-active: var(--border-active-light);
  --node: var(--node-light);
  --node-border: var(--node-light-border);
  --text-color: var(--text-color-light);
  --leaf: var(--node-leaf-light);
  --path-to-leaf: var(--node-path-to-leaf-light);
  --path-to-current-leaf: var(--node-path-to-branch-light);
  --path-to-branch: var(--node-path-to-branch-light);
  --node-select: var(--node-select-light);
  --webkit-tag-name: var(--webkit-tag-name-light);
  --webkit-tag-attribute-key: var(--webkit-tag-attribute-key-light);
  --webkit-tag-attribute-value: var(--webkit-tag-attribute-value-light);
}

html[data-theme="dark"] {
  color: var(--text-color-dark);
  background-color: var(--background-dark);
}

html[data-theme="dark"] a {
  color: #05a2c2;
}

body:not(.dark-mode) a:hover {
  color: rgb(214 0 0);
  font-weight: 500;
}

html[data-theme="dark"] a:hover {
  color: #4db8ff;
  font-weight: 500;
}

section.inspector__container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.inspector__container > div.inspector {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

article.container {
  position: relative;
  height: 100%;
}

strong.nodelen__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 10px;
  background-color: transparent;
}

.spinner,
.spinner-text {
  --clr: rgb(74, 179, 191);
  --gap: 6px;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.spinner span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--clr);
  opacity: 0;
}

.spinner span:nth-child(1) {
  animation: fade 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
  animation: fade 1s ease-in-out 0.33s infinite;
}

.spinner span:nth-child(3) {
  animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}

.tree-actions,
.tree-toolbar {
  display: flex;
  flex: 0 0 30px;
  align-items: center;
  padding: 3px 10px;
  font-size: var(--source-code-font-size);
  border-bottom: 1px solid var(--border);
  user-select: none;
}

.tree-actions.pnode {
  margin: -3px 0 auto;
  padding: 0;
  border-bottom: none;
  min-height: 0;
  z-index: 3;
}

.tree-toolbar__left,
.tree-actions__left {
  display: flex;
  flex: 0 0 30px;
  align-items: center;
  min-height: 3em;
}

.tree-toolbar__left > div.tree-toolbar__label,
.tree-actions__left > div.tree-actions__action {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  align-items: center;
  margin: 1px;
  color: var(--icon-fill);
  font-size: 12px;
  line-height: 0;
  white-space: nowrap;
  border-bottom: none;
}

.tree-actions__left > div.tree-actions__action::before {
  position: absolute;
  top: 50px;
  left: calc(50% + 11px);
  z-index: 3;
  color: var(--icon-color);
  line-height: 16px;
  background: var(--bg-1);
  border: 1px solid var(--border);
  border-radius: 3px;
  transform: translate(-100%, -100%);
  opacity: 0;
  transition-delay: 200ms;
  content: "Expand tree elements";
  user-select: none;
}
.tree-actions__left > div.tree-actions__action.pnode::before {
  content: "Select parent node";
}

.tree-actions__left
  > div.tree-actions__action.synctree
  > button
  > div.synctree__active {
  position: absolute;
  right: 2px;
  top: 1px;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background-color: var(--button-active);
}

.tree-actions__left > div.tree-actions__action.synctree::before {
  content: "Reload Tree";
}

.tree-actions__left > div.tree-actions__action.synctree.pending::before {
  content: "DOM changes detected";
}

.tree-actions__left > div.tree-actions__action.toggle-inspector::before {
  content: "Select Element";
}

.tree-actions__left > div.tree-actions__action::after {
  top: 8px;
  transition-delay: 500ms;
}

.tree-actions__left > div.tree-actions__action:hover::before {
  top: 50px;
  left: 100px;
  padding: 2px 5px;
  visibility: visible;
  opacity: 0.9;
  transition-delay: 200ms;
}

.tree-actions__left > div.tree-actions__action.pnode:hover::before {
  left: 28px;
  z-index: 100;
}

.tree-actions__left > div.tree-actions__action:hover::after {
  left: calc(50% + 100px);
  border-color: var(--border);
  border-width: 7px;
  opacity: 0.9;
  content: "";
}

.tree-actions__left > div.tree-actions__action > div {
  margin: auto 1px;
}

.tree-actions__left > div.tree-actions__action > button {
  padding: 2px 7px;
  white-space: nowrap;
  background-color: var(--bg-1);
  border-radius: 5px;
  box-shadow: none !important;
  padding-inline: 3px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  touch-action: manipulation;
}

.tree-actions__left > div.tree-actions__action > button:focus {
  outline: 1px transparent;
}

.tree-actions__left > div.tree-actions__action > button:active {
  opacity: 0.92;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.tree-actions__left > div.tree-actions__action.active > button {
  background-color: var(--button-active);
}

.tree-actions__left > div.tree-actions__action > button:hover {
  background-color: var(--button-active-hover) !important;
}

.tree-actions__left > div.tree-actions__action button {
  min-height: 30px;
  padding: 5px;
  position: relative;
  line-height: 0;
  white-space: nowrap;
  background-color: var(--bg-1);
  border: 1px solid var(--border);
  cursor: pointer;
}

.tree-actions__left > div.tree-actions__action.active > button ::hover {
  background-color: var(--button-active-hover) !important;
}

.tree-actions > div.tree-actions__right {
  float: left;
  margin: auto;
  overflow: hidden;
  font-size: 11px;
}

.tree-actions > div.tree-actions__right > p {
  max-width: 65%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: ui-monospace;
}

.tree-toolbar > div.tree-toolbar__right {
  position: relative;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  width: 100%;
}

select.tree-toolbar__select {
  font-size: 12px;
}

select.tree-toolbar__select > option {
  cursor: pointer;
}

.tree-actions__right,
.tree-toolbar__right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  overflow: hidden;
}

.tree-toolbar__right > div.button {
  padding: 5px 10px;
  cursor: pointer;
}

.tree-toolbar__right > div.button.active {
  border-bottom: 1px solid var(--border-active);
}

section.tree-settings__container {
  padding: 5px 10px;
  font-size: 12px;
}

.webkit-element {
  display: block;
  flex-grow: 2;
  flex-shrink: 0;
  box-sizing: border-box;
  font-family: var(--source-code-font-family);
  margin: 0;
  padding: 4px 0;
  white-space: pre;
  overflow-wrap: normal;
  width: calc(100% - 20px);
  color: var(--webkit-tag-name);
  overflow: auto;
  outline: none;
  user-select: none;
}

.webkit-element > div:first-child {
  width: 100%;
  height: 100%;
  overflow: auto;
}

div.webkit-element__scrollable {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 3em;
  overflow: auto hidden;
  white-space: nowrap;
  scrollbar-gutter: stable both-edges;
}

div.webkit-element span.children-placeholder span.expand-button {
  display: inline-flex;
  gap: 1px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 14px;
  height: 10px;
  margin: 0 2px;
  vertical-align: middle;
  background: var(--bg-2);
  border: 1px solid rgb(117 117 117);
  border-radius: 10px;
}

div.webkit-element span.children-placeholder span.expand-button > .dot {
  width: 2px;
  height: 2px;
  background: var(--icon-fill);
  border-radius: 50%;
}

.footer__container {
  position: relative;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: rgb(60 68 79);
  border-top: 1px solid rgb(79 90 101);
}

#treecanvas__container {
  width: 100%;
  height: 65vh;
}

.rd3t-link {
  fill: none;
  stroke: rgb(8, 52, 66);
  stroke-width: 2px;
}

#treecanvas__container path.link__to-leaf {
  stroke: var(--path-to-leaf);
}

path.link--crisp-edges {
  shape-rendering: geometricPrecision;
}

.link__selected > circle {
  box-shadow: var(--box-shadow-active);
  stroke: var(--node-select);
  stroke-width: 0.25em;
}

.link__selected > foreignObject > div > p {
  color: var(--path-to-branch);
  text-decoration: underline !important;
}

.tree__root,
.tree__branch,
.tree__leaf {
  cursor: pointer;
}

#treecanvas__container path {
  stroke-width: 0.5;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
}

#treecanvas__container path.link__to-leaf.current-paths:not(.highlight) {
  stroke-opacity: 1 !important;
}

#treecanvas__container path.link__to-leaf.highlight {
  stroke: var(--path-to-current-leaf);
  stroke-opacity: 1;
  stroke-width: 1 !important;
}

#treecanvas__container path.link__to-branch {
  stroke: var(--path-to-branch);
}

div.tree__layout {
  height: 87%;
  width: 100%;
}

div.tree__layout_element {
  position: relative;
  z-index: 2;
  float: right;
  max-width: 60%;
  padding: 3px 10px;
  font-size: 12px;
  background-color: var(--bg-0);
  border-bottom-left-radius: 5px;
}

@media screen and (max-width: 450px) {
  div.tree__layout {
    height: 80%;
  }
  div.tree__layout_element {
    float: none;
    max-width: 100%;
  }
}

.nodelist__container {
  position: relative;
  display: flex;
  flex-basis: calc(100% - 14vh);
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 5px 10px;
  overflow: hidden;
  color: var(--icon-fill);
  font-size: var(--source-code-font-size);
  line-height: 18px;
  background: var(--bg-2);
  border-top-color: rgb(190 190 190 / 50%);
  border-bottom: 3px double rgb(190 190 190 / 50%);
}

div#details__children-count {
  display: flex;
  flex-flow: row nowrap;
  font-size: 10px;
  font-family: monospace, ui-monospace, ui-rounded;
}

#details {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  height: calc(100% - 25px);

  background-color: var(--background-light);
  border-radius: 5px;
  z-index: 2;
}

div::-webkit-scrollbar {
  display: none;
  height: 0.45em !important;
  background: linear-gradient(
    90deg,
    #a8a8a8,
    #a8a8a8 1px,
    #8b8b8b 0,
    #9c9c9c
  ) !important;
  border-radius: 16px !important;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 15%),
    inset -2px -2px 2px rgb(0 0 0 / 13%) !important;
}

#details::-webkit-scrollbar:horizontal {
  height: 0.45em;
}

#details::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 8px;
}

html[data-theme="dark"] #details {
  background-color: #141313;
}

main.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

#details p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#details > ul.details__list {
  width: calc(100% - 2em);
  height: calc(100% - 18px);
  margin: 1em;
  padding: 0;
  overflow: auto;
  font-size: 11px;
  font-family: var(--monospace-font-family);
  text-overflow: ellipsis;
  list-style: none;
}

div.slider-rotate {
  position: absolute;
  right: 0;
  transform: rotateX(90deg);
  transition: transform 0.2s ease-in-out 0.08s;
}

.slider-rotate__shown {
  position: relative;
  overflow: hidden;
}

li.details__item:hover .slider-rotate {
  transform: rotateX(0deg);
  transition: transform 0.2s ease-in-out 0.18s;
}

.slider-rotate__selector {
  display: inline-flex;
  margin: auto 1em;
  line-height: 24px;
  border-radius: var(--border-radius);
}

.slider-rotate__button {
  padding: 0 8px;
  color: var(--icon-fill);
  font-size: 0.8em;
  background-color: var(--bg-2);
  border: 1px solid var(--border);
}

.slider-rotate__button:hover {
  cursor: pointer;
  background-color: var(--bg-1);
}

div.nodelist__article {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: 1em;
  padding: 5px 0;
}

div.nodelist__article-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;

  font-size: 11.5px;
  border-color: rgb(190 190 190 / 50%);
}

div.nodelist__header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

li.details__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgb(190 190 190 / 50%);
  user-select: none;
}

li.details__item:hover {
  background-color: var(--bg-1);
}

section.wrapper {
  position: relative;
  float: none;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-rendering: optimizeSpeed;
}

#details > ul.details__list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Tabs style */
.tabs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow-y: hidden;
  font-size: 11.5px;
  background-color: var(--bg-2);
  user-select: none;
}

.tabs__actions {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box; /* Include padding in width calculation */
  width: 100%; /* Ensure it takes the full width */
  padding: 5px 10px;
}

.tabs__label {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6px 0;
}

.tabs > div {
  display: block;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px 10px;
}

.tabs > div.tabs__actions {
  position: relative;
  display: inline-flex;
  flex: 0 0 30px;
  float: right;
}

/* .tabs > div.tabs__label {
  padding: 6px 0;
} */

.tabs > div button {
  min-height: 30px;
  padding: 5px 10px;
  color: var(--icon-fill);
  font-size: var(--source-code-font-size);
  letter-spacing: 0.3px;
  background-color: var(--bg-0);
  outline: 0;
  transition: all 0.2s ease 0s;
}

.tabs > div button {
  cursor: pointer;
}

.tabs > div button:hover {
  background-color: var(--bg-1);
}

.tabs > div button:first-child {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tabs > div button:last-child {
  border-left-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tabs > div button.activeIndex {
  background-color: var(--bg-1);
  border-color: rgb(232 232 232) rgb(232 232 232) rgb(255 255 255);
  border-style: solid;
  border-width: 1px;
  border-image: initial;
  box-shadow: var(--box-active);
}

.tab {
  flex: 0 0 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 1em;
  text-align: center;
  border: none;
}

.tab:not(:last-child) {
  border-right: 1px solid var(--border);
}

.tab:not(.active) {
  background-color: var(--bg-0);
  border-bottom-color: var(--border);
}

.tab.active {
  background-color: var(--bg-1);
  border-bottom-color: transparent;
  border-image: initial;
  box-shadow: var(--box-active);
}

.tabs > div.tabs__panel-container {
  display: block;
  clear: both;
}

.tab_panel {
  display: none;
}

.tab_panel.active {
  display: block;
  height: 100%;
}
