:root {
  --background-dark-accent: #222;
  --background-dark-item: #282828;
  --background-dark: #121212;
  --background-light-accent: #fafafa;
  --background-light-item: rgb(230, 230, 230);
  --background-light: #fff;
  --border-active-dark: rgb(232, 232, 232);
  --border-active-light: rgb(0, 145, 255);
  --border-radius: 1.5em;
  --border: rgba(190, 190, 190, 0.2);
  --box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0 0 0 1px;
  --box-shadow-active: 0 0 0 3px rgb(7 56 68);
  --button-active: rgb(240, 194, 31);
  --button-active-hover: rgba(75, 189, 255, 0.364);
  --icon-fill-dark: #fff;
  --icon-fill-light: #282828;
  --link-color: #005fcc;
  --node-dark-border: rgb(143, 255, 169);
  --node-dark: rgb(229, 251, 234);
  --node-leaf-dark: #333;
  --node-leaf-light: #e0e0e0;
  --node-light-border: rgb(8, 149, 180);
  --node-light: rgb(211 227 253/100%);
  --node-path-to-branch-dark: rgb(138, 180, 248);
  --node-path-to-branch-light: rgb(0, 145, 255);
  --node-path-to-leaf-dark: #929292c7;
  --node-path-to-leaf-light: rgb(0 0 0/50%);
  --node-select-light: rgb(142, 0, 75);
  --node-select: rgb(0, 99, 155);
  --text-color-dark: #e0e0e0;
  --text-color-light: #333;

  --webkit-doctype: rgb(192, 192, 192);
  --webkit-resource-link: rgb(227, 186, 89);
  --webkit-tag-attribute-key-dark: rgb(124, 172, 248);
  --webkit-tag-attribute-key-light: rgb(159, 67, 18);
  --webkit-tag-attribute-value-dark: rgb(254, 141, 89);
  --webkit-tag-attribute-value-light: rgb(8, 66, 160);
  --webkit-tag-name-dark: rgb(73 166 210);
  --webkit-tag-name-light: rgb(142, 0, 75);

  --monospace-font-size: 11px;
  --monospace-font-family: menlo, monospace;
  --source-code-font-size: 11.5px;
  --source-code-font-family: menlo, monospace;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
}

body {
  height: 100%;
  width: 100%;
  min-height: 400px;
  background-color: var(--background-light);
  color: var(--text-color-light);
  font-family: "Lucida Grande", sans-serif;
  height: 100%;
  margin: 1px;
  min-height: 400px;
  min-width: 300px;
  overflow: hidden;
  position: fixed;
  scroll-behavior: smooth;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body .wrapper::-webkit-scrollbar {
  background-color: transparent;
  width: 0.45em;
}

body .wrapper::-webkit-scrollbar:horizontal {
  height: 0.45em;
}

body .wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #a8a8a8, #a8a8a8 1px, #8b8b8b 0, #9c9c9c);
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.15),
    inset -2px -2px 2px rgb(0 0 0 / 13%);
}

h1 {
  font-size: 0.75rem !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

body > #root {
  min-width: 350px;
  height: 400px;
  width: 100%;
}

body.dark-mode {
  --icon-fill: var(--icon-fill-dark);
  --bg-0: var(--background-dark-accent);
  --bg-1: var(--background-dark);
  --bg-2: var(--background-dark-item);
  --border-active: var(--border-active-dark);
  --node: var(--node-dark);
  --text-color: var(--text-color-dark);
  --node-border: var(--node-dark-border);
  --leaf: var(--node-leaf-dark);
  --path-to-leaf: var(--node-path-to-leaf-dark);
  --path-to-current-leaf: var(--node-path-to-branch-dark);
  --path-to-branch: var(--node-path-to-branch-dark);

  --webkit-tag-name: var(--webkit-tag-name-dark);
  --webkit-tag-attribute-key: var(--webkit-tag-attribute-key-dark);
  --webkit-tag-attribute-value: var(--webkit-tag-attribute-value-dark);
}

body:not(.dark-mode) {
  --icon-fill: var(--icon-fill-light);
  --bg-0: var(--background-light-accent);
  --bg-1: var(--background-light);
  --bg-2: var(--background-light-item);
  --border-active: var(--border-active-light);
  --node: var(--node-light);
  --node-border: var(--node-light-border);
  --text-color: var(--text-color-light);
  --leaf: var(--node-leaf-light);
  --path-to-leaf: var(--node-path-to-leaf-light);
  --path-to-current-leaf: var(--node-path-to-branch-light);
  --path-to-branch: var(--node-path-to-branch-light);

  --node-select: var(--node-select-light);

  --webkit-tag-name: var(--webkit-tag-name-light);
  --webkit-tag-attribute-key: var(--webkit-tag-attribute-key-light);
  --webkit-tag-attribute-value: var(--webkit-tag-attribute-value-light);
}

body.dark-mode {
  color: var(--text-color-dark);
  background-color: var(--background-dark);
}

body.dark-mode a {
  color: #05a2c2;
}

body:not(.dark-mode) a:hover {
  color: rgb(214, 0, 0);
  font-weight: 500;
}

body.dark-mode a:hover {
  color: #4db8ff;
  font-weight: 500;
}

section.inspector__container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

.inspector__container > div.inspector {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
}

article.container {
  position: relative;
  height: 100%;
}
strong.nodelen__text {
  left: 0;
  top: 0;
  padding: 1em 10px;
  background-color: transparent;
  position: absolute;
}

.loading {
  position: fixed;
  display: block;
  text-align: center;
  color: #8cc152;
}

/* Load spinner */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Lucida Grande", sans-serif;
  padding: 0px 5px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid var(--border);
}

.header__icon {
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 5px;
}

.header__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.header__heading-events {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__heading .header__icon {
  vertical-align: text-bottom;
  height: 1.375em;
  width: 1.375em;
}

.header__description {
  color: #a0a0a0;
}

.tree-selector,
.tree-toolbar {
  display: flex;
  flex: 0 0 30px;
  padding: 3px 10px;
  align-items: center;
  border-bottom-color: var(--border);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: var(--source-code-font-size);
  user-select: none;
}

.tree-toolbar__left,
.tree-selector__left {
  flex: 0 0 30px;
  display: flex;
  min-height: 3em;
  align-items: center;
}

.tree-toolbar__left > div.tree-toolbar__label,
.tree-selector__left > div.tree-selector__action {
  line-height: 0;
  align-items: center;
  border-bottom: none;
  color: var(--icon-fill);
  display: inline-block;
  flex-shrink: 0;
  margin: 1px;
  font-size: 12px;
  position: relative;
  white-space: nowrap;
}

.tree-selector__left > div.tree-selector__action::before {
  content: "Expand tree elements";
  background: var(--bg-1);
  border-radius: 3px;
  border: 1px solid var(--border);
  color: var(--icon-color);
  content: "Expand tree elements";
  left: calc(50% + 11px);
  line-height: 16px;
  position: absolute;
  top: 50px;
  opacity: 0;
  transform: translate(-100%, -100%);
  transition-delay: 200ms;
  user-select: none;
  z-index: 999;
}

.tree-selector__left > div.tree-selector__action.toggle-inspector::before {
  content: "Select Element";
}

.tree-selector__left > div.tree-selector__action::after {
  top: 8px;
  transition-delay: 500ms;
}

.tree-selector__left > div.tree-selector__action:hover::before {
  opacity: 0.9;
  visibility: visible;
  top: 50px;
  left: 100px;
  padding: 2px 5px;
  transition-delay: 200ms;
}

.tree-selector__left > div.tree-selector__action:hover:after {
  opacity: 0.9;
  content: "";
  border-width: 7px;
  left: calc(50% + 100px);
  border-color: var(--border);
}

.tree-selector__left > div.tree-selector__action > div {
  margin: auto 1px;
}

.tree-selector__left > div.tree-selector__action > button {
  background-color: var(--bg-1);
  border-radius: 5px;
  white-space: nowrap;
  padding-inline: 3px;
  box-shadow: none !important;
  padding: 2px 7px;
}

.tree-selector__left > div.tree-selector__action.active > button {
  background-color: var(--button-active);
}

.tree-selector__left > div.tree-selector__action > button:hover {
  background-color: var(--button-active-hover) !important;
}

.tree-selector__left > div.tree-selector__action button {
  cursor: pointer;
  padding: 5px;
  background-color: var(--bg-1);
  white-space: nowrap;
  line-height: 0;
  min-height: 30px;
  border: 1px solid var(--border);
}

.tree-selector__left > div.tree-selector__action.active > button ::hover {
  background-color: var(--button-active-hover) !important;
}

.tree-selector > div.tree-selector__right {
  float: left;
  margin: auto;
  overflow: hidden;
}

.tree-toolbar > div.tree-toolbar__right {
  gap: 1em;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

select.tree-toolbar__select {
  font-size: 12px;
}

select.tree-toolbar__select > option {
  cursor: pointer;
}

.tree-selector__right,
.tree-toolbar__right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.tree-toolbar__right > div.button {
  padding: 5px 10px;
  cursor: pointer;
}
.tree-toolbar__right > div.button.active {
  border-bottom: 1px solid var(--border-active);
}

section.tree-settings__container {
  padding: 5px 10px;
  font-size: 12px;
}

.webkit-element {
  box-sizing: border-box;
  display: block;
  flex-grow: 2;
  flex-shrink: 0;
  margin: 0px;
  outline: none;
  overflow-wrap: normal;
  padding: 4px 0px;
  white-space: pre;
  user-select: none;
}

div.webkit-element__scrollable {
  align-items: center;
  display: flex;
  height: 3em;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-gutter: stable both-edges;
  white-space: nowrap;
}

div.webkit-element span.children-placeholder span.expand-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 14px;
  height: 10px;
  vertical-align: middle;
  gap: 1px;
  margin: 0px 2px;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 10px;
  background: var(--bg-2);
}
div.webkit-element span.children-placeholder span.expand-button > .dot {
  height: 2px;
  width: 2px;
  background: var(--icon-fill);
  border-radius: 50%;
}

.footer__container {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
  background-color: rgb(60, 68, 79);
  text-align: center;
  position: relative;
  border-top: 1px solid rgb(79, 90, 101);
}

#treeWrapper path.link__to-leaf {
  stroke: var(--path-to-leaf);
}

path.link--crisp-edges {
  shape-rendering: crispEdges;
}

.link__selected > circle {
  stroke: var(--node-select);
  stroke-width: 0.25em;
  box-shadow: var(--box-shadow-active);
}

.link__selected > foreignObject > div > p {
  text-decoration: underline !important;
  color: var(--path-to-branch);
}

.tree__root,
.tree__branch,
.tree__leaf {
  cursor: pointer;
}

g > foreignObject > div > p.tree__text {
  background-color: var(--bg-1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  user-select: none;
}

#treeWrapper path {
  stroke-width: 0.5;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
}

#treeWrapper path.link__to-leaf.current-paths:not(.highlight) {
  stroke-opacity: 1 !important;
}

#treeWrapper path.link__to-leaf.highlight {
  stroke: var(--path-to-current-leaf);
  stroke-opacity: 1;
  stroke-width: 1 !important;
}

#treeWrapper path.link__to-branch {
  stroke: var(--path-to-branch);
  /* stroke-width: 1.25 !important; */
}

div.tree__layout_element {
  background-color: var(--bg-0);
  max-width: 60%;
  padding: 3px 10px;
  font-size: 12px;
  float: right;
  z-index: 999;
  position: relative;
  border-bottom-left-radius: 5px;
}

.details__wrapper {
  position: relative;
  background: var(--bg-2);
  margin: 0;
  color: var(--icon-fill);
  display: flex;
  padding: 5px 10px;
  flex-basis: calc(100% - 14vh);
  flex-direction: column;
  flex-shrink: 0;
  font-size: var(--source-code-font-size);
  line-height: 18px;
  border-bottom-color: rgba(190, 190, 190, 0.5);
  border-bottom-style: double;
  border-bottom-width: 3px;
  border-top-color: rgba(190, 190, 190, 0.5);
  overflow: hidden;
}

div#details__children-count {
  display: flex;
  flex-flow: row nowrap;
  font-family: monospace, ui-monospace, ui-rounded;
  font-size: 10px;
}

#details {
  align-items: center;
  background-color: var(--background-light);
  height: calc(100% - 18px);
  display: grid;
  grid-template-columns: auto;
  border-radius: 5px;
  position: relative;
}

div::-webkit-scrollbar {
  background: linear-gradient(
    90deg,
    #a8a8a8,
    #a8a8a8 1px,
    #8b8b8b 0,
    #9c9c9c
  ) !important;
  border-radius: 16px !important;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.15),
    inset -2px -2px 2px rgb(0 0 0 / 13%) !important;
  height: 0.45em !important;
  display: none;
}

#details::-webkit-scrollbar:horizontal {
  height: 0.45em;
}

#details::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

body.dark-mode #details {
  background-color: #141313;
}
main.container {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 350px;
  flex-flow: column;
}

#details p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#details > ul.details__list {
  height: calc(100% - 18px);
  width: calc(100% - 2em);
  margin: 1em;
  list-style: none;
  padding: 0;
  overflow: auto;
  text-overflow: ellipsis;
  font-size: 11px;
  font-family: var(--monospace-font-family);
}

div.slider-rotate {
  transform: rotateX(90deg);
  transition: transform 0.2s ease-in-out 0.08s;
  position: absolute;
  right: 0;
}

.slider-rotate__shown {
  overflow: hidden;
  position: relative;
}

li.details__item:hover .slider-rotate {
  transform: rotateX(0deg);

  transition: transform 0.2s ease-in-out 0.18s;
}

.slider-rotate__selector {
  display: inline-flex;
  margin: auto 1em;
  line-height: 24px;
  border-radius: var(--border-radius);
}

.slider-rotate__button {
  padding: 0px 8px;
  font-size: 0.8em;
  color: var(--icon-fill);
  background-color: var(--bg-2);
  border: 1px solid var(--border);
}

.slider-rotate__button:hover {
  background-color: var(--bg-1);
}

div.details__article {
  display: flex;
  /* flex-basis: 40%; */
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 0;
  border-color: rgba(190, 190, 190, 0.5);
  padding: 5px 0;
  font-size: 11.5px;
  width: 100%;
  justify-content: space-between;
}

div.details__header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

li.details__item {
  display: flex;
  position: relative;
  padding: 5px 10px;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-content: space-between;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
}

li.details__item:hover {
  background-color: var(--bg-1);
}

section.wrapper {
  height: 100%;
  white-space: nowrap;
  position: relative;
  width: 100%;
  float: none;
}

#details > ul.details__list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Tabs style */
.tabs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: var(--bg-2);
  user-select: none;
  overflow-y: hidden;
  font-size: 11.5px;
}

.tabs__actions {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Ensure it takes the full width */
  padding: 5px 10px;
  box-sizing: border-box; /* Include padding in width calculation */
}

.tabs__label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6px 0;
}

.tabs > div {
  display: block;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px 10px;
}

.tabs > div.tabs__actions {
  flex: 0 0 30px;
  float: right;
  display: inline-flex;
  position: relative;
}

/* .tabs > div.tabs__label {
  padding: 6px 0;
} */

.tabs > div button {
  background-color: var(--bg-0);
  color: var(--icon-fill);
  font-size: var(--source-code-font-size);
  letter-spacing: 0.3px;
  min-height: 30px;
  padding: 5px 10px;

  outline: 0px;
  transition: all 0.2s ease 0s;
}

.tabs > div button {
  cursor: pointer;
}
.tabs > div button:hover {
  background-color: var(--bg-1);
}
.tabs > div button:first-child {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.tabs > div button:last-child {
  border-left-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tabs > div button.activeIndex {
  background-color: var(--bg-1);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(232, 232, 232) rgb(232, 232, 232) rgb(255, 255, 255);
  border-image: initial;
  box-shadow: var(--box-active);
}

.tab {
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  border: none;
  line-height: 1em;
  flex: 0 0 30px;
}
.tab:not(:last-child) {
  border-right: 1px solid var(--border);
}

.tab:not(.active) {
  background-color: var(--bg-0);
  border-bottom-color: var(--border);
}
.tab.active {
  background-color: var(--bg-1);
  border-bottom-color: transparent;
  border-image: initial;
  box-shadow: var(--box-active);
}

.tabs > div.tabs__panel-container {
  display: block;
  clear: both;
}

.tab_panel {
  display: none;
}

.tab_panel.active {
  display: block;
  height: 100%;
}
