/* General Styling */
:root {
  --background-light: #fff;
  --background-dark: #121212;
  --background-dark-accent: #222;
  --text-color-light: #333;
  --text-color-dark: #e0e0e0;
  --link-color: #005fcc;
  --icon-fill-dark: #fff;
  --icon-fill-light: #282828;
  --box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0 0 0 1px;
  --border-radius: 1.5em;
  --node-dark: rgb(229, 251, 234);
  --node-dark-border: rgb(143, 255, 169);
  --node-light: rgb(8, 149, 180);
  --node-light-border: rgb(129, 212, 231);
  --node-leaf-dark: #333;
  --node-leaf-light: #e0e0e0;
  --node-path-to-leaf-dark: #929292;
  --node-path-to-leaf-light: #cbcbcb;
  --node-path-to-branch-light: rgb(0, 145, 255);
  --node-path-to-branch-dark: rgb(60, 177, 121);
}

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  min-height: 400px;
  min-width: 760px;
  height: 100%;
  width: 100%;
}

/* Default Light Theme Styles */
body {
  color: var(--text-color-light);
  background-color: var(--background-light);
  margin: 1px -4px;
  /* position: fixed; */
  min-height: 400px;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

h1 {
  font-size: 0.75rem !important;
}

body a {
  color: var(--link-color);
  cursor: pointer;
  /* box-shadow: 0 0.2rem 0.67rem rgba(0, 0, 0, 0.05); */
}

body.dark-mode {
  --icon-fill: var(--icon-fill-dark);
  --bg-0: var(--background-dark-accent);
  --node: var(--node-dark);
  --node-border: var(--node-dark-border);
  --leaf: var(--node-leaf-dark);
  --path-to-leaf: var(--node-path-to-leaf-dark);
  --path-to-branch: var(--node-path-to-branch-dark);
}

body:not(.dark-mode) {
  --icon-fill: var(--icon-fill-light);
  --bg-0: var(--background-light);
  --node: var(--node-light);
  --node-border: var(--node-light-border);
  --leaf: var(--node-leaf-dark);
  --path-to-leaf: var(--node-path-to-leaf-light);
  --path-to-branch: var(--node-path-to-branch-light);
}

/* Dark Mode Styles Controlled by JavaScript */
body.dark-mode {
  color: var(--text-color-dark);
  background-color: var(--background-dark);
}

body.dark-mode a {
  color: #05a2c2;
  /* box-shadow: 0 0.1rem 0.67rem rgb(205 205 205 / 5%); */
}

body:not(.dark-mode) a:hover {
  color: rgb(214, 0, 0);
  font-weight: 500;
}

/* Dark Mode Link Hover */
body.dark-mode a:hover {
  /* border: solid 1px #ccc; */
  color: #4db8ff;
  font-weight: 500;
}

div#help-icon {
  z-index: 1000;
  will-change: transform;
  transition: transform 250ms, opacity 400ms;
}

div#help-icon:hover {
  opacity: 0.9;
  transform: scale(0.95);
}

#help-dialog {
  z-index: 1000;
  /* Ensures the dialog is above other elements */
  box-shadow: var(--box-shadow);
  color: var(--text-color-light);
}

ul {
  list-style-type: none;
}

.loading {
  position: fixed;
  display: block;
  text-align: center;
  color: #8cc152;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0px 5px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid rgb(79, 90, 101);
}

.header__icon {
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 5px;
}

.header__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  /* padding: 10px 0 0; */
}

.header__heading-events {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__heading .header__icon {
  vertical-align: text-bottom;
  height: 1.375em;
  width: 1.375em;
}

.header__heading .header__name {
  display: inline-block;
  padding: 0 0.125em;
  font-size: 1.25em;
  font-weight: 700;
}

.header__description {
  color: #a0a0a0;
}

/* Tree Styling */
.tree {
  display: block;
}

#treeWrapper path.link__to-leaf {
  stroke: var(--path-to-leaf);
}

#treeWrapper path.link__to-branch {
  stroke: var(--path-to-branch);
}

g > foreignObject > div > p.tree__text {
  white-space: nowrap;
  /* overflow: visible; */
  text-overflow: initial;
  text-align: center;
  font-size: 0.8em;
  user-select: none;
}

.tree > ul ul {
  padding-top: 5px;
  padding-left: 35px;
  margin-left: 5px;
}

.tree li {
  margin: 0 -5px 15px;
  padding: 0 3px 3px;
  position: relative;
}

.tree .node {
  border-radius: 4px;
  padding: 3px 11px;
  white-space: nowrap;
  cursor: pointer;
}

.tree a.node {
  display: inline-block;
  transform: translate(-30px, -6px);
}

.tree > ul ul li:not(:last-of-type):after {
  position: absolute;
  content: "";
  border-left: solid 1px #ccc;
  height: calc(100% + 15px);
  left: -50px;
  top: -11px;
}

.tree > a {
  display: inline-block;
  transform: translate(-29px, -3px);
}

.tree > ul ul li:last-of-type:after {
  position: absolute;
  content: "";
  border-left: solid 1px #ccc;
  height: 17px;
  left: -50px;
  top: -11px;
}

.tree > ul ul li:before {
  position: absolute;
  content: "";
  border-bottom: solid 1px #ccc;
  height: 0;
  width: 30px;
  left: -50px;
  top: 5px;
}

/* Node Hover */
.node:hover + ul li:not(:last-of-type):after {
  border-left: solid 2px #12bcdf;
}

.node:hover + ul li:last-of-type:after {
  border-left: solid 2px #12bcdf;
}

.node:hover + ul li:before {
  border-bottom: solid 2px #12bcdf;
}

.details__wrapper {
  position: relative;
  border-radius: 5px;
  background: var(--background-light);
  padding: 5px;
  margin: 4px 0;
  box-shadow: var(--box-shadow);
}

body.dark-mode .details__wrapper {
  background-color: #1c1b1b;
}

body.dark-mode #details .details__wrapper {
  background-color: var(--background-dark-accent);
}

.collapsible {
  list-style: none;
  padding-left: 20px;
}

.lbl-toggle {
  cursor: pointer;
  position: relative;
  display: inline-block;
  transform: translate(-30px, -4px);
}

.lbl-toggle:hover {
  color: #52a9ff;
}

body.dark-mode .lbl-toggle:hover {
  color: #e1f8fa;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  /* transform: translateY(-2px); */
  transition: transform 0.2s ease-in-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(-90deg);
}

.toggle:checked + .lbl-toggle + .collapsible {
  display: none;
}

/* Optional: Add some space around the toggles for easier clicking */
.toggle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.class-tag__container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  font-size: 0.9em;
  max-height: 100px;
  /* Adjust as needed */
  overflow-y: auto;
  /* Enables vertical scrolling */
  font-family: monospace, ui-monospace, ui-rounded;
  height: 40px;
  /* width: 90%; */
}

.class-tag {
  /* background-color: rgb(73, 71, 71); */
  font-style: italic;
  /* font-weight: bold; */
  /* color: rgb(216, 213, 213); */
  color: rgb(102, 199, 186);
  padding: 3px 2px;
  white-space: nowrap;
  word-break: break-word;
  overflow-wrap: break-word;
  /* font-size: 0.8em; */
}

.id-tag {
  color: rgb(248 126 131);
  font-style: italic;
  /* font-weight: bold; */
}

div#details__children-count {
  position: absolute;
  top: 0;
  left: 50%;
  font-family: monospace, ui-monospace, ui-rounded;
  font-size: 10px;
}

/* Add any additional styling as needed */
#details {
  background-color: var(--background-light);
  padding: 20px;
  border-radius: 11px;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  z-index: 2;
  position: relative;
}

body.dark-mode #details {
  background-color: #141313;
}

#tagContainer {
  position: absolute;
  top: -10px;
  background-color: rgb(204, 204, 204);
  border-bottom: 0.15em solid var(--link-color);
  color: var(--text-color-light);
  padding: 5px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Spans from the first to the last column */
  grid-column: 1 / -1;
  text-transform: lowercase;
}

body.dark-mode #tagContainer {
  color: white;
  background-color: rgb(22 22 22);
  border-bottom: 0.15em solid rgb(70, 207, 114);
}

/* Optional: Add an arrow or notch to the tab */
#tagContainer::after {
  content: "";
  position: absolute;
  /* left: 100%; */
  top: 50%;
  border-width: 10px 0 10px 10px;
  /* border-style: solid; */
  /* border-color: transparent transparent transparent var(--link-color); */
  transform: translateY(-50%);
}

#details p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#details strong {
  color: #0091ff;
  font-weight: bolder;
  margin-right: 5px;
  font-family: monospace, ui-monospace, ui-rounded;
  padding: 2px;
  white-space: nowrap;
}

/* Additional styles... */
section.wrapper {
  height: 100%;
  width: 96vw;
  margin: -2px 6px;
  white-space: nowrap;
  position: relative;
  width: 100%;
  float: none;
  /* overflow: scroll; */
}

body .wrapper::-webkit-scrollbar {
  background-color: transparent;
  width: 0.45em;
}

body .wrapper::-webkit-scrollbar:horizontal {
  height: 0.45em;
}

body .wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #a8a8a8, #a8a8a8 1px, #8b8b8b 0, #9c9c9c);
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.15),
    inset -2px -2px 2px rgb(0 0 0 / 13%);
}

body.dark-mode .wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    #c0c0c0,
    #969696 1px,
    rgb(129, 129, 129) 0,
    rgb(159, 160, 163)
  );
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.15),
    inset -2px -2px 2px rgb(0 0 0 / 50%);
}

.wrapper::-webkit-scrollbar-corner {
  background: transparent;
}
